<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>Leave Application</title>
<style>
form
{
    margin-top:20px;
    margin-left:100px;
}

textarea
{
	width:170px;
	height:50px;
}
</style>
</head>
<body>
<th:block th:replace="~{layout/layout :: header}"></th:block>
<h1 style="margin-left:100px;">Leave Application</h1>
<form action="#" th:object="${leaveapplication}" th:action="@{/leave/submit}" method="post">
		<fieldset>
		<input type="hidden" th:field="*{id}">  
		</fieldset>
<!-- 		<fieldset>
		<input type="hidden" value="${session.id}" th:field="*{staff.id}">  
		</fieldset>
		<div th:with="${leaveapplication.staff.id}=${session.id}"></div> -->
            <div th:each="type : ${leavetypes}">
                    <input type="radio" th:field="${leaveapplication.leaveType.leaveType}" th:value="${type}" >
                    <label th:for="${#ids.seq('leaveapplication.leaveType.leaveType')}" th:text="${type}">type</label>
			</div>
<!--		<fieldset>
			Leave Type: <input type="radio" name="type" value="Annual Leave" th:field="*{leaveType.leaveType}">
		</fieldset>
		<fieldset>
			<input type="radio" name="type" value="Medical Leave" th:field="*{leaveType.leaveType}">
		</fieldset> -->
		<fieldset>
			Overseas Trip: <br/>
			<input type="radio" value="true" th:field="*{overseasTrip}" />Yes <input type="radio" value="false" th:field="*{overseasTrip}" />No
		</fieldset>
		<fieldset>
			Start Date: <input type="text" th:field="*{startDate}" placeholder="dd-MM-yyyy" style="margin-left:58px; margin-top:10px;"
              th:text="${#dates.format(leaveapplication.startDate, 'dd-MM-yyyy')}"/>
              <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
		</fieldset>
		<fieldset>
			End Date: <input type="text" th:field="*{endDate}" placeholder="dd-MM-yyyy" style="margin-left:65px;margin-top:10px;"
              th:text="${#dates.format(leaveapplication.endDate, 'dd-MM-yyyy')}"/>
              <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
		</fieldset>		
		<fieldset>
        	Reason: <textarea th:field="*{reason}" style="margin-left:75px;margin-top:10px;"></textarea>
    	</fieldset>
    	<fieldset>
        	Work Dissemination: <textarea th:field="*{workDissemination}"></textarea>
    	</fieldset>
		<fieldset>
        	Contact Details: <input type="text" th:field="*{contactDetails}"style="margin-left:30px; margin-top:10px	">
			<p th:if="${#fields.hasErrors('contactDetails')}" th:errors="*{contactDetails}"></p>
    	</fieldset>
		<br/>
		<fieldset>
			<button type="submit" >Save</button>
			<button type="reset">Reset</button>
		</fieldset>
	</form>		
<th:block th:replace="~{layout/layout :: footer}"></th:block>
</body>
</html>