<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>Staff Listing</title>
<style>
form
{
    margin-top:20px;
    margin-left:100px;
    border: 1px solid black;
    width:400px;
    height:400px;
    display:inline-block;
}

textarea
{
	width:170px;
	height:50px;
}

table
{
    margin-left:20px;
}
</style>
</head>
<body>
<th:block th:replace="~{layout/layout :: header}"></th:block>
<h1 style="margin-left:20px;">Staff Listing</h1>
	<a href="AddStaff.html" th:href="@{/staff/add}" style="margin-left:20px;">Add Staff</a>
    <div th:if="${error != ''}" th:text="${error}"></div>
	<h2 th:if="${not #lists.isEmpty(slist)}" style="margin-left:20px">Staff List</h2>
	<table class="table table-bordered" th:if="${not #lists.isEmpty(slist)}">
		<tr th:each="staff:${slist}">
			<td th:text=${staff.id}>Id</td>
			<td th:text=${staff.name}>Name</td>
			<td th:text=${staff.role}>Role</td>
			<td th:text=${staff.email}>Email</td>
			
			<td><a href="EditStaff.html"
			th:href="@{/staff/edit/}+${staff.id}" >View Leaves</a></td>
		    <!--  <td th:text=${staff.annualLeaveEntitlement}>Annual Leave Entitlement</td>
			<td th:text=${staff.medicalLeaveEntitlement}>Medical Leave Entitlement</td>
			<td th:text=${staff.compensationLeaveEntitlement}>Compensation Leave Entitlement</td> -->
			<td><a href="EditStaff.html"
				th:href="@{/staff/edit/}+${staff.id}" >Edit</a></td>
			<td><a href="DeleteStaff.html"
				th:href="@{/staff/delete/}+${staff.id}" style="color:red">Delete</a></td>
			<td th:if="${staff.role == 'Staff'}">
			<a href="PromoteStaff.html"
				th:href="@{/staff/promote/}+${staff.id}">Promote</a></td>
			<td th:if="${staff.role == 'Manager'}">
			<a href="DemoteStaff.html"
				th:href="@{/staff/demote/}+${staff.id}">Demote</a></td>
		</tr>
	</table>
<th:block th:replace="~{layout/layout :: footer}"></th:block>
</body>
</html>